# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# pip and packaging
*.egg-info/
*.egg
*.whl
dist/
build/
*.manifest

# PyInstaller
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.cache/
.coverage
*.cover
*.log
.coverage.*
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.pytest_cache/

# IDE-specific
.idea/
.vscode/
*.swp
